.bestseller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.bestseller__title{
    margin: auto;
    background-color: aqua;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
    z-index: 100;
}
.bestseller__product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.bestseller__row{
    display: flex;
}