.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: none;
  background-color: rgb(215, 240, 240);
  padding: 50px;
  margin-top: 10px;
}
.checkout__left {
  display: flex;
  flex-direction: column;
  padding: 0 40px 10px;
  margin-left: 40px;
  align-items: flex-start;
  border: 4px solid black;
  margin-top: 10px;
  text-align: center;
}

.checkout__sections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}
.checkout_sectionTitle {
  display: flex;
  justify-content: center;

}
.checkout_sectionTitle>h5{
  padding: 10px;
}
.checkout__leftSection {
  padding: 10px;
  margin-left: 10px;
}
.checkout__right {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  border: 4px solid black;
  padding: 0px 10px 10px;
  margin-top: 10px;
  align-items: center;
}
.checkout__right > h2 {
  border: 4px solid black;
  background-color: aqua;
  padding: 10px;
  width: 10rem;
  *height: 1.5rem;
  text-align: center;
  font-size: 30px;
  align-items: center;
  border-top: none;
}
.checkout__leftTitle  {
  border: 4px solid black;
  background-color: aqua;
  padding: 10px 0 30px 0px;
  width: 10rem;
  height: 1.5rem;
  border-top: none;
  margin: auto;
}
 .checkout>h1{
  font-size: 40px;
  padding: 50px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  margin: auto;

}
