.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    width: 50%;
    top: 0;
    z-index: 100;
    margin: auto;
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header__searchIcon{
    padding: 0px;
    height: 42px !important;
    border-radius: 24px;
    color: aqua;
    
}
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    
    width: 20%;
    border-radius: 24px;
    margin: 12px;
    border: 5px solid aqua;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
    *padding-right: 10px;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.header__optionBasket{
    display: flex;
    align-items: center;
    color:black;
    margin-left: 10px;
    margin-right: 10px;
}
.header__basketCount>{
    *margin-left: 10px;
    *margin-right: 10px;
    *position: relative;
    *padding-top: 5px;
    *padding-right: 50px;
    padding-bottom: 50px;
    align-items: center;
 
    
    
}
.header__optionBasket >button{
    background-color: aqua;
    border: none;
  
}

.drop__down{
    margin-left: 10px;
    margin-right: 10px;
}
#dropdown{
    height: 30px;
    padding:0px;
    width: 100%;
    border-radius: 24px;
    *margin-right: 10px;
    text-align: center;
    
    border: 5px solid aqua;
   
}